body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  color: white;
}
header {
  background-color: #c8102e; /* červená */
  padding: 10px 0;
  text-align: center;
}
header a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
header a:hover {
  text-decoration: underline;
}
.content {
  text-align: center;
  padding: 40px;
}
.btn {
  background-color: #c8102e; /* červená */
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  text-decoration: none;
  margin: 15px;
  border-radius: 5px;
  display: inline-block;
}
.btn:hover {
  background-color: #8a061d; /* tmavší červená */
}
.login-btn {
  background-color: #7289da; /* Discord modrá */
}
footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}
